<launch>
    <arg name="image" default="/image_raw"/>
    <arg name="ground_plane" default="camera_color/ground_plane"/>

    <!-- set parameters -->
    <rosparam  file="$(find ros_deep_learning)/config/paths_detectnet.yaml" command="load"/>

    <!-- Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

    <!-- ros_imagenet nodelet -->
    <node name="detectnet_node"
          pkg="nodelet" type="nodelet"
          args="load ros_deep_learning/ros_detectnet standalone_nodelet"
          output="screen" >
          <remap from="~imin" to="$(arg image)"/>
          <remap from="~ground_plane" to="$(arg ground_plane)"/>
    </node>

    <!-- gst_camera nodelet 
    <node name="gst_camera"
          pkg="nodelet" type="nodelet"
          args="load ros_jetson_video/gst_camera standalone_nodelet">
          <remap from="~image_raw" to="/image_raw"/>
    </node>-->

</launch>
